!!!
html
	head
		title Nav bar with log in form
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="/css/bootstrap.min.css", rel="stylesheet", type="text/css")
		link(href="//fonts.googleapis.com/css?family=Josefin+Sans:100", rel="stylesheet", type="text/css")
		style(type="text/css").
			h1, h2, h3, h4, h5, h6 { font-family: 'Josefin Sans', sans-serif; }
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="/") Navbar w/ menu
					.nav-collapse.collapse
						ul.nav
							li
								a(href="#") Home
							li
								a(href="#") About
							li
								a(href="#") Contact
							li.dropdown
								a.dropdown-toggle(href="#", data-toggle="dropdown")
									| Dropdown
									b.caret
								ul.dropdown-menu
									li
										a(href="#") Action 1
									li
										a(href="#") Action 2
									li
										a(href="#") Action 3
									li.divider
									li.nav-header
										| Header
									li
										a(href="#") Separated
									li
										a(href="#") One more
						
						form.navbar-form.pull-right
							input.span2(type="text", placeholder="Email")
							input.span2(type="text", placeholder="Password")
							button.btn(type="submit") Sign In

		.container
			block contents
		
		script(src="/js/jquery.min.js", type="text/javascript")
		script(src="/js/bootstrap.min.js", type="text/javascript")
		block scripts
									